<div class="tank-container">

  
  <!-- Label i wartość -->
  <div class="tank-value" [style.color]="alarm ? 'red' : '#4640D4'">
    {{ level | number:'1.1-1' }} L
  </div>

  <!-- Grafika zbiornika -->
  <div class="tank-image-wrapper">
    <img src="assets/images/tank.png" alt="Zbiornik" class="tank-image">

    <!-- pionowy wskaźnik -->
    <div class="indicator">
      <div class="indicator-fill" 
           [style.height.%]="levelPercent"
           [style.background-color]="alarm ? 'red' : '#666666'">
      </div>
    </div>

    <div class="tank-label">
      {{ name }}
    </div>
    
  </div>

  
</div>
