.tank-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
  margin-bottom: 80px;
}

.tank-image-wrapper {
  position: relative;
  width: 137px;  
  height: auto; 
}

.tank-image {
  width: 100%;
  height: 100%;
  display: block;
}

.tank-value {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: 66px;
  padding: 2px 0;
  margin-bottom: 6px;
  border: 1px solid #333;
  border-radius: 2px;
  background-color: white;
  color: #4640D4; 
}

.tank-label {
  position: absolute;
  top: 42%;             /* pionowe wyśrodkowanie */
  left: 42%;            /* poziome wyśrodkowanie */
  transform: translate(-50%, -50%); /* dokładne wyśrodkowanie */
  font-weight: bold;
  text-align: center;
}


/* ramka wskaźnika */
.indicator {
  position: absolute;
  bottom: 52px;          /* odsuń od dna zbiornika */
  left: 84%;
  transform: translateX(-50%);
  width: 16px;           /* szerokość słupka */
  height: 72%;           /* maksymalna wysokość słupka */
  border: 1px solid #333;
  border-radius: 0px;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: flex-end; /* wypełnienie zawsze od dołu */
}

/* wypełnienie wskaźnika */
.indicator-fill {
  width: 100%;
  background-color: #666666;
  transition: height 0.5s ease, background-color 0.3s ease;
  border-radius: 0px;
}