.tank-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding-top: 40px;
}

.tank-image-wrapper {
  position: relative;
  width: 325px;  
  height: auto; 
}

.tank-image {
  width: 100%;
  height: 100%;
  display: block;
}

.level {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b82f6; /* kolor wody */
  transition: height 0.5s;
  z-index: 1;
}

.tank-label,
.tank-value {
  margin-top: 5px;
  text-align: center;
}

.tank-value {
  font-weight: bold;
}
