<div class="process-container">

  <div class="tanks-container">
    
    <div class="tank-section">
      <div class="tank-input">

        <div class="tank-input-line">
          <img src="assets/images/arrowhead.png" class="arrowhead">
          <div class="connector"></div>
          <app-valve-component name="Zawór V1" [id]=1></app-valve-component>
          <div class="connector"></div>
          <app-pump-component name="Pompa P1" [id]=1></app-pump-component>
          <div class="connector"></div>
        </div>

        <div class="tank-input-line">
          <img src="assets/images/arrowhead.png" class="arrowhead">
          <div class="connector"></div>
          <app-valve-component name="Zawór V2" [id]=2></app-valve-component>
          <div class="connector"></div>
          <app-pump-component name="Pompa P2" [id]=2></app-pump-component>
          <div class="connector"></div>
        </div>
      </div>

      <app-tank-component name="Zbiornik T1" [id]=1></app-tank-component>

      <div class="tank-output-line-one">
        <div class="connector"></div>
        <app-valve-component name="Zawór V5" [id]=5></app-valve-component>
        <div class="connector"></div>
      </div>
    </div>



    
    <div class="tank-section">
      <div class="tank-input">

        <div class="tank-input-line">
          <img src="assets/images/arrowhead.png" class="arrowhead">
          <div class="connector"></div>
          <app-valve-component name="Zawór V3" [id]=3></app-valve-component>
          <div class="connector"></div>
          <app-pump-component name="Pompa P3" [id]=3></app-pump-component>
          <div class="connector"></div>
        </div>

        <div class="tank-input-line">
          <img src="assets/images/arrowhead.png" class="arrowhead">
          <div class="connector"></div>
          <app-valve-component name="Zawór V4" [id]=4></app-valve-component>
          <div class="connector"></div>
          <app-pump-component name="Pompa P4" [id]=4></app-pump-component>
          <div class="connector"></div>
        </div>
      </div>

      <app-tank-component name="Zbiornik T2" [id]=2></app-tank-component>

      <div class="tank-output-line-two">
        <div class="connector"></div>
        <app-valve-component name="Zawór V6" [id]=6></app-valve-component>
        <div class="connector"></div>
      </div>
    </div>

  </div>

  <app-mixer-component name="Mieszalnik M1" [id]=1></app-mixer-component>
  <div class="connector"></div>
  
  <app-valve-component name="Zawór V7" [id]=7></app-valve-component>
  <div class="connector"></div>
  <app-pump-component name="Pompa P5" [id]=5></app-pump-component>
  <div class="connector"></div>
  <img src="assets/images/arrowhead.png" class="arrowhead">
</div> 